<html>
	<head>
		<script src="//use.typekit.net/tpc4hmk.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/app.css">		
	</head>
<body>
	<div class="header-content">
		<header class="main-header">
			<section class="wrap">
				<h1 class="logo"><a href="/">Reqres</a></h1>
			</section>
		</header>
		<main class="the-sell">
			<div class="wrap">
				<h2 class="tagline">A universal REST-API for you</h2>
				<section class="key-sells">
					<div class="sell">
						<div class="v-center">
							<h3>Fake data</h3>
							<p>efbuhbruf uh fuf ufvwfuvwfgv wfv</p>	
						</div>
						<i class="fa fa-cloud-download"></i>
					</div>
					<div class="sell">
						<div class="v-center">
							<h3>Real responses</h3>
							<p>efbuhbruf uh fuf ufvwfuvwfgv wfv</p>	
						</div>
						<i class="fa fa-code"></i>
					</div>
					<div class="sell">
						<div class="v-center">
							<h3>Always-on</h3>
							<p>efbuhbruf uh fuf ufvwfuvwfgv wfv</p>	
						</div>
						<i class="fa fa-toggle-on"></i>
					</div>
				</section>
			</div>
		</main>
	</div>
	{{{body}}}
	<footer>
		
	</footer>
	<script src="/js/app.js"></script>
</body>
</html>